
.container{
  width: 100%;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}

.board__cell {
  width: 100%; 
  height: 100px; 
  background-color: lightgray; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}


.board__cell--X {
  color: blue;
}

.board__cell--O {
  color: red;
}