
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  width: 680px;
  margin: auto;
  margin-top: 1rem;
}

.board__cell {
  width: 100%; 
  height: 100px; 
  background-color: lightgray; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.board__cell[data-type='X'] {
  color: blue !important;
}

.board__cell[data-type='O'] {
  color: red !important;
}
